<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CASE API - Camera</title>
</head>
<body>
    <h1>This is the Camera page</h1>
    <p>Here you can see a livestream of the printer</p>

    <div id="camera-wrapper">
        <div class="camera-box" style="width: 250px; height: 100px;">
            <img id="camera-img" width="100%" src="http://192.168.1.51:8080/?action=stream" alt="Livestream of the printers camera" />
        </div>
    </div>
    
    
    
    <script>
            // Just for testing, make js files later
            /*
            const url_base = "http://192.168.1.35";
            const url_camera = url_base + "/api/v1/camera";
        
            async function getCameraLinks(){
                const response = await fetch(url_camera);
                const data = await response.json();
                console.log(data);
                var camera_img = document.getElementById("camera-img");
                //camera_img.src = blablabla.image
            }
             */
        
            </script>
</body>
</html>