<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CASE API - Camera</title>
</head>
<body>
    <h1>This is the Camera page</h1>
    <p>Here you can see a livestream of the printer</p>

    <div class="camera-box" style="width: 500px; height: 500px;">
        <img style="width: 100%;" src="http://192.168.1.201:8080/?action=stream" alt="livestream of the printers camera">
    </div>
    
    
    
</body>
</html>