<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CASE API</title>
</head>
<body>
    <h1>Welcome to the CASE WEB API for Ultimaker 3 printers</h1>
    <p>You can only send GET requests with this API.</p>
    <p><b>READ!</b>This is only a dummy project to emulate the real deal, only /api/v1/printer has JSON</p>

    <h3>Printer</h3>
    <p>URI: <a href="/api/v1/printer"><b>/api/v1/printer</b></a> will give you everything that has to do with the printer</p>
    
    <h3>Print_job</h3>
    <p>URI: <a href="/api/v1/print_job"><b>/api/v1/print_job</b></a> will give you everything that has to do the current print_job</p>
    
    <h3>History</h3>
    <p>URI: <a href="/api/v1/history"><b>/api/v1/history</b></a> will give you the last 50 print jobs and info about them</p>
    
    <h3>System</h3>
    <p>URI: <a href="/api/v1/system"><b>/api/v1/system</b></a> will give you data about the system and network</p>
    
    <h3>Camera</h3>
    <p>URI: <a href="/api/v1/camera"><b>/api/v1/camera</b></a> will give you the adress to the ultimaker local wifi camera ip, there you can see the video feed live in high frame rate ;)</p>
    


    
</body>
</html>