{% extends "base.html" %}


{% block content %}
<div id="card-container" class="container d-flex flex-wrap justify-content-between mt-4">
    {% for printer in printers %}
    <div id="master-card" class="card printer-card">
        <img class="card-img-top " src="{{ "http://" + printer.getIp() + ":8080/?action=stream" }}" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5>{{ printer.getName() }}</h5>
                </div>
                <div class="col-6">
                    <p class="text-secondary">IP: {{ printer.getIp() }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text-secondary">Status: <span class="text-warning">Printing</span></p>
                </div>
                <div class="col-6">
                    <p class="text-secondary">Time left: <span class="text-info">3h 48min</span></p>
                </div>
            </div>

            <p class="text-secondary">User: <span class="text-dark">janinau</span></p>
            <p class="text-secondary">Filename: <span class="text-dark">pussmun.gcode</span></p>

            <div class="row">
                <div class="col-6">
                    <p class="text-black-50">Nozzle: <span class="text-dark">235°C</span></p>
                    <p class="text-black-50">Bed: <span class="text-dark">60°C</span></p>
                </div>
                <div class="col-6">
                    <p class="text-black-50">Weight: <span class="text-dark">120g</span></p>
                    <p class="text-black-50">Cost: <span class="text-dark">46 SEK</span></p>
                </div>
            </div>



        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock %}

    

    
    