<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CASE API</title>
    <!-- Bootstrap CSS https://getbootstrap.com/ -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://uploads-ssl.webflow.com/5be3e52e57362c5e7eed8b59/5beb24c25af27b8dbb990bc4_CASE%20_justHead.png"
                width="30" height="30" alt="logo">
            CASE Printers
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Alpha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bravo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Charlie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Delta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Echo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hawk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Eagle</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="card-container" class="container d-flex flex-wrap justify-content-between mt-4">
        <div id="master-card" class="card printer-card">
            <img class="card-img-top" src="https://i.imgur.com/45dGb3T.png" alt="Card image cap">
            <div class="card-body">
                <h5>Alpha</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="text-secondary">Status: <span class="text-warning">Printing</span></p>
                    </div>
                    <div class="col-6">
                        <p class="text-secondary">Time left: <span class="text-info">3h 48min</span></p>
                    </div>
                </div>

                <p class="text-secondary">User: <span class="text-dark">janinau</span></p>
                <p class="text-secondary">Filename: <span class="text-dark">pussmun.gcode</span></p>

                <div class="row">
                    <div class="col-6">
                        <p class="text-black-50">Nozzle: <span class="text-dark">235°C</span></p>
                        <p class="text-black-50">Bed: <span class="text-dark">60°C</span></p>
                    </div>
                    <div class="col-6">
                        <p class="text-black-50">Weight: <span class="text-dark">120g</span></p>
                        <p class="text-black-50">Cost: <span class="text-dark">46 SEK</span></p>
                    </div>
                </div>



            </div>
        </div>
       
    </div>

    <!-- Needed for bootstrap elements -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        var card = document.getElementById("master-card")
        var container = document.getElementById("card-container")

        for(var i = 0; i <= 10; i++){
            container.append(card.cloneNode(true))
        }
    </script>
</body>

</html>